doctype html
html
  head
    title QR Code
  body
    h1 Scan the QR Code with your Authenticator App
    p After scanning the QR Code, hit the /login endpoint again to get your id and go to verify 2fa
    img(src=url, alt="QR Code")
